.main{
    width: 100%;
    height: 100vh;
}
h1{
    text-align: center;
    color: white;
}

.main .bloc .bloc2{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    gap: 5%;
    /* border: solid red; */
    /* background-color: green; */
}

/*=============================== left bloc==================================== */


.main .bloc .blocleft{
    width: 40%;
    height: 500px;
    /* background-color: black; */
    float: left;
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #22798C;
}

.main .bloc .blocleft .localisation{
    width: 50%;
    height: 150px;
    background-color: black;
    margin-top: 15px;
   
}
.main .bloc .blocleft .petitbloc{
    width: 100%;
    height: 200px;
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
  

    
}
.main .bloc .blocleft .petitbloc .mail{
    width: 35%;
    height: 200px;
    border-top: solid white;
    background-color:#2BB9D8;

  
}
.main .bloc .blocleft .petitbloc .num{
    width: 35%;
    height: 200px;
    border: solid black;
    background-color: #2BB9D8;

}


/* /============================/right bloc======================= */
.main .bloc .blocright{
    width: 40%;
    height: 500px;
    float: right;
    background-color: #22798C;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.main .bloc .blocright button{
    width: 30%;
    height: 50px;
    border-radius: 1em;
    background-color: #2BB9D8;
    border: solid black;
}

.main .bloc .blocright .inputbloc{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    /* gap: 10%; */
    /* justify-content: center;
    align-items: center; */
}
.main .bloc .blocright .inputbloc .input1{
    width: 100%;
    height: 200px;
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
}
.main .bloc .blocright .inputbloc .input1 span{
    font-size: 20px;
    color: white;
}



.main .bloc .blocright .area{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
    width: 90%;
    height: 200px;
}


