*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slider{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}
@keyframes rotate {
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.slider span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}
.slider span:nth-child(1){
    --i:1;
}
.slider span:nth-child(2){
    --i:2;
}

.slider span:nth-child(3){
    --i:3;
}
.slider span:nth-child(4){
    --i:4;
}
.slider span:nth-child(5){
    --i:5;
}
.slider span:nth-child(6){
    --i:6;
}
.slider span:nth-child(7){
    --i:7;
}



.slider span img{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    /* border-radius: 10px; */
    object-fit: cover;
    transition: 2s;
}
.slider span:hover img{
    transform: translateY(-150px) scale(1.2);
}

/* .title{
   font-size: 200px;
   color: aqua;
   margin-top: -10%;
} */













@media screen and (max-width: 600px) {
    
}