/* .image{
    background-image: url(../images/pexels-ivan-samkov-4989168.jpg);
    background-size: cover;
    width: 100%;
    height: 90vh;
} */

/* .slide{
    width: 100%;
    height: 50vh;
} */

/* .Home{
    width: 100vw;
    height: 100vh;
} */



/* =====================================================urgence_Hopitauxproches================================================================= */




/* =====================================================contact================================================================= */
.Home section{
    width: 100%;
    height: 100vh;
}