.InputControl{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.InputControl label{
    font-weight: 500;
    font-size: 1rem;
    color: #4b4b4b;
}

.InputControl input{
    border-radius: 5px;
    border: 1px solid #eee;
    outline: none;
    padding: 8px 15px;
    color: #000;
}

.InputControl input:hover{
    border-color: #ccc;
}

.InputControl input:focus{
    border-color: #22798C;
}

 