.Home .text {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.Home .text .description {
    width: 100%;
    height: 87vh;
    background-size: cover;
    position: relative;
    justify-content: center;
    align-items: center;
    /* background-image: `url(${acctof})`; */
}


.Home .text .description .desc_card {
    width: 50%;
    height: 180px;
    top: 50%;
    right: 25%;
    opacity: .8;
    border-top: #2BB9D8 solid 10px;
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
   /* text-transform: uppercase; */
    /* font-size: 18px; */
    text-align: center;
    color: white;
    /* background-image: `url(${acctof})`; */
}


.Home .text .nessecité {
    position: absolute;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 18%;
    top: 75%;
    right: 20%;
    /* font-size: 27px; */
    color: white;
    /* background-color: red; */
    /* position: absolute; */
    /* right: 25%; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-image: `url(${acctof})`; */
}



.Home .text .nessecité .card span {
    font-size: 25px;
    color: white;
}

.Home .text .nessecité .card {
    padding-top: 3%;
    width: 450px;
    height: 250px;
    display: flex;
    border-radius: 1em;
    justify-content: space-around;
    gap: 5%;
    text-align: center;
    /* box-shadow: 10px 5px 5px #067d95; */
    background-color: #126678;
    /* background-image: `url(${acctof})`; */
}

.Home .text .nessecité .card button {
    color: #126678;
    padding: .2em;
    border-radius: 1em;
    outline: none;
    font-size: 20px;

    /* background-image: `url(${acctof})`; */
}



.Home .noire {
    width: 100%;
    height: 13vh;
    background-color: black;
    border-bottom: #2BB9D8 solid 10px;
}




@media screen and (max-width: 600px) {
    .Home .text {
        height: 75vh;
        width: 100%;
        background-color: #126678;
    }
    .Home .text .description {
        width: 100%;
        height: 70vh;
        background-size: cover;
        position: relative;
        justify-content: center;
        align-items: center;
    }

.Home .text .description .desc_card {
    width: 80%;
    height: 180px;
    top: 40%;
    right: 8%;
    font-size: 70%;
}
.Home .text .nessecité {
    display: grid;
    grid-template-columns: 45% 49%;
    grid-template-rows: 50%;
    gap: 6%;
    top: 79%;
    padding-left: 10%;
    right: 0;
    color: white;

}

.Home .text .nessecité .card span {
    font-size: 70%;
    color: white;
}
.Home .text .nessecité .card:nth-child(1){
    display: none;
}

.Home .text .nessecité .card {
    padding-top: 1%;
    width: 90%;
    height: 110px;
    gap: 0%;
    text-align: center;
    
}

.Home .text .nessecité .card button {
    color: #126678;
    padding: .2em;
    border-radius:50px;
    font-size: 60%;

    /* background-image: `url(${acctof})`; */
}

}